  
.main__chat
  .main-header
    .main-header__name
      group name
    .main__edit
      Edit
  .member
    Member
  
  .main
    .main__text
      .main__names
        syota
      .main__days
        2019/11/23/20:18:25
    .main__message
      this is a first message
  

  .form
    .form__display
      .form__main
        %input{type: "text", placeholder: "type a message"}
        %label.form__box
          =icon('fas', 'image')
          .form__input
            %input{type: "file"}
      .form__sub
        %input{type: "submit", value: "SEND"}

