
.side__bar  
  .header 
    .header__logo
      seo
    .header__btn
      =link_to "#" do
        = icon('fas', 'edit')
      =link_to "#" do
        = icon('fas', 'cog',)
  
  .contents
    =link_to "#", class:"content"do
      %p.content__group-name
        test
      %p.content__latest-message
        まだメッセージはありません