
.side__bar  
  .header 
    .header__logo
      seo
    .header__btn
      =link_to "#" do
        = icon('fas', 'edit')
      =link_to "#" do
        = icon('fas', 'cog',)
  
  .content
    .content__test
      test1
    .content__message
      まだメッセージはありません
    .content__test
      test2
    .content__message
      Good bye World
