.wrapper {
  display: flex;
  .side__bar
    .header {
      background-color: #253141;
      width: 300px;
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center; 
      &__logo {
        font-size: 16px;
        font-weight: bold;
        color: #ffff;
      }
      &__btn {
        display: block;
        margin: 0 0 0 auto;
        text-decoration: none;
        .fas {
          color: white;
        }
      }
    }
}

.contents {
  background-color: #2f3e51;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  .content {
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
  }
  p.content__group-name {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }
  p.content__latest-message {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
  }
}
  
